Repository roundcube/roundcubemail, pull requests merged in 2024-06, with the labels that each got.

#9467 Notification focus on click in Chrome
  plugins/newmail_notifier/newmail_notifier.js
Labels: bug, C: User Interface, C: Plugins, 4. to release

#9440 include information about base skin when current skin is an extended one
  program/include/rcmail_output_html.php
Labels: 2. developing, 3. to review

#9430 contacts: add more gender options
  program/actions/contacts/index.php
  program/localization/en_US/labels.inc
Labels: enhancement, C: Contacts, 4. to release

#9361 add github issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: 4. to release

#9366 Show quota only if sensible
  program/include/rcmail_action.php
  program/js/app.js
  skins/elastic/templates/folders.html
  skins/elastic/templates/mail.html
  skins/elastic/ui.js
Labels: enhancement, C: User Interface, C: Mail view, 4. to release

#9479 Make dependabot check dependencies for NPM and composer
  .github/dependabot.yml
  Makefile
  package.json
Labels: 3. to review
